<nav class="navigation">
    <a href="/home" class="logo"><img src="assets/logo.png" alt="Articulate Angular"/></a>
    <ul class="tab-inner nav nav-pills">
        <!--<li class="tab-item" ui-route="/home" ng-class="{active:$uiRoute}">
            <a href="/home">
                &lt;!&ndash;<img class="tab-icon" src="assets/icons/icon-food.png">&ndash;&gt;
                <div class="tab-label">Home</div>
            </a>
        </li>-->
        <li class="tab-item" ui-route="/get-started" ng-class="{active:$uiRoute}">
            <a href="/get-started">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Get Started</div>
            </a>
        </li>
        <li class="tab-item" ui-route="/build-system" ng-class="{active:$uiRoute}">
            <a href="/build-system">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Build System</div>
            </a>
        </li>
        <li class="tab-item" ui-route="/structure" ng-class="{active:$uiRoute}">
            <a href="/structure">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Structure</div>
            </a>
        </li>
        <li class="tab-item" ui-route="/injection-loading" ng-class="{active:$uiRoute}">
            <a href="/injection-loading">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Injection & Loading</div>
            </a>
        </li>
        <li class="tab-item" ui-route="/angular" ng-class="{active:$uiRoute}">
            <a href="/angular">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Angular</div>
            </a>
        </li>
        <li class="tab-item" ui-route="/persistency" ng-class="{active:$uiRoute}">
            <a href="/persistency">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Persistency</div>
            </a>
        </li>
        <li class="tab-item" ui-route="/authentication" ng-class="{active:$uiRoute}">
            <a href="/authentication">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Authentication</div>
            </a>
        </li>
        <li class="tab-item" ui-route="/contact" ng-class="{active:$uiRoute}">
            <a href="/contact">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Contact</div>
            </a>
        </li>
    </ul>
</nav>