<nav class="navigation">
    <ul class="tab-inner">
        <li class="tab-item" ui-route="/home" ng-class="{active:$uiRoute}">
            <a href="/home">
                <!--<img class="tab-icon" src="assets/icons/icon-food.png">-->
                <div class="tab-label">Home</div>
            </a>
        </li>
        <li class="tab-item" ui-route="/section/drinks" ng-class="{active:$uiRoute}">
            <a href="/section/drinks">
                <!--<img class="tab-icon" src="assets/icons/icon-drinks.png">-->
                <div class="tab-label">Drinks</div>
            </a>
        </li>
    </ul>
</nav>